<div class="container" >
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center text-dark">
                    <h1 >Admin Login</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <label for="" class="form-label text-dark ">Username</label>
                    <input type="text" placeholder="Enter your username" class="form-control ">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label text-dark ">Password</label>
                    <input type="password" placeholder="Enter your password̥" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a routerLink="add" class="btn btn-primary">Login</a>
                   
                </div>
                
            </div>
        </div>

    </div>
</div>