

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
                <div class="row g-3 mt-4">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <h1 class="text-dark">Add Employee</h1>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Employee code</label>
                        <input type="text" placeholder="Enter employee code" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Name</label>
                        <input type="text" placeholder="Enter employee name" class="form-control">
                    </div>
                   
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Designation</label>
                        <input type="text" placeholder="Enter Designation" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Salary</label>
                        <input type="text" placeholder="Enter Salary" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Phone number</label>
                        <input type="text" placeholder="Enter employee phone number" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Email</label>
                        <input type="email" placeholder="Enter employee email id" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Company name</label>
                        <input type="text" placeholder="Enter employee company name" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-dark">Year of experience</label>
                        <input type="text" placeholder="Enter year of experience" class="form-control">
                    </div>
                    
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                       <a href="" class="btn btn-primary">Add employee</a>
                    </div>
                </div>
            </div>
        </div>
    </div>